@inherits LayoutComponentBase

<PageTitle>BlazorFileManager</PageTitle>

<RadzenComponents />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <section class="top-row px-4">
            Created by <a href="https://docs.microsoft.com/aspnet/" target="_blank">Jeonardo</a>
        </section>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
